/* Base Styles */
:root {
    --primary-color: #3b82f6;
    --secondary-color: #10b981;
    --accent-color: #fbbf24;
    --text-color: #1f2937;
    --light-bg: #f3f4f6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: var(--text-color);
}

/* Header */
.header {
    height: 60vh;
    background: url('images/uma-linda-imagem-de-um-caminho-para-ceu.jpg');
    background-position: center 40%;
    /* Ajuste a porcentagem conforme necessário */
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--text-color);
    text-shadow: 0 2px 4px rgb(255, 255, 255, 1);
}

.header-content h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

/* Navigation */
.nav {
    background: white;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    gap: 2rem;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav a {
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: color 0.3s;
}

.nav a:hover {
    color: var(--primary-color);
}

/* Welcome Section */
.welcome {
    padding: 4rem 2rem;
    text-align: center;
    background-color: var(--light-bg);
}

/* Verses Section */
.verses {
    padding: 4rem 2rem;
    text-align: center;
}

.verse-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.card {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto 1rem;
}

/* Prayer Section */
.prayer {
    padding: 4rem 2rem;
    background-color: var(--light-bg);
    text-align: center;
}

.prayer p {
    text-align: left;
    margin: 0 10%;
}

/* Footer */
.footer {
    background-color: var(--text-color);
    color: white;
    padding: 2rem;
    text-align: center;
}

.social-links {
    margin-bottom: 1rem;
}

.social-links a {
    color: white;
    margin: 0 1rem;
    font-size: 1.5rem;
    transition: color 0.3s;
}

.social-links a:hover {
    color: var(--accent-color);
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .header-content h1 {
        font-size: 2.5rem;
    }

    .nav {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        position: relative;

    }

    .verse-cards {
        grid-template-columns: 1fr;
    }
}